.carrito {
    display: flex;
    align-items: center;
    margin: 20px;
    text-decoration: none;
}

.strongCart {
    color: #73283d;
    text-decoration: none;
    font-family: 'Tajawal', sans-serif;
}