.construccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(217, 217, 217, 0.58);
    margin: 10px 10px;
    color: #73283d;
    font-family: 'Tajawal', sans-serif;
    font-size: larger;
    border-bottom: 2px solid #73283d;
}

.tristeza {
    width: 50vh;
}